@font-face {
  font-family: 'pokemon-font';
  src: url('./assets/fonts/POKEMON\ SOLID.TTF') FORMAT('truetype');
}

* {
  margin: 0;
  padding: 0;
  --blue-logo: #3D51AB;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

