@font-face {
  font-family: 'pokemon-font';
  src: url('./assets/fonts/POKEMON\ SOLID.TTF') FORMAT('truetype');
}

* {
  margin: 0;
  padding: 0;
  --blue-logo: #3d51ab;
  --yellow-logo: #FAC705;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
    font-weight: 300;
    list-style: none;
    font-style: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10%;
  max-width: 1920px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}


